#para
{
color:pink;
background-color:blue;
font-size:50px;
text-align:left;
}
#para1
{
background-color:blue;
font-size:50px;
text-align:left;
}
#d
{
background-color:yellow;
font-size:50px;
text-align:left;
}